*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /*cursor: url('../cursor.cur'),auto;*/
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5vw rgba(0, 0, 0, 0.3);
  background-color: #1e1b24;
}
::-webkit-scrollbar {
  width: 0.6vw;
  background-color: #9e9891;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.5vw rgba(0, 0, 0, 0.3);
  background-color:  #6e0cab;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #A020F0;
}

#air-pollution{
  position: relative;
  background-color: #300338;
  height: 120vh;
  z-index: 1000;
}

#plastic-pollution{
  position: relative;
  background-color: #300338;
  height: 120vh;
  z-index: 1000;
}

#water-pollution{
  position: relative;
  background-color: #300338;
  height: 120vh;
  z-index: 1000;
}

#video-container{
  position: relative;
  background-color: #300338;
  height: 130vh;
  z-index: 1000;
}

.images{
  width: 42vw;
  height: 70vh;
  object-fit: cover;
  border-radius: 2vh;
  position: absolute;
  top: 18vw;
  left: 15vw;
}

.images2{
  width: 42vw;
  height: 35vw;
  object-fit: cover;
  border-radius: 2vh;
  position: absolute;
  top: 14vw;
  left: 42vw;
}

.headings{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vh;
  color: white;
  font-family: 'panton-black-caps', sans-serif;
  text-transform: uppercase;
  padding-top: 1.5vw;
  font-weight: 800;
}

.info-heading{
  color: white;
  font-size: 5vh;
  font-family: 'panton-black-caps', sans-serif;
  font-weight: 700;
  margin-bottom: 1.5vw;
}

.info{
  font-size: 1vw;
  color: white;
  font-family: 'panton-black-caps', sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 2vw;
}

.info-button{
  text-decoration: none;
  font-size: 3vh;
  color: white;
  font-family: 'panton-black-caps', sans-serif;
  font-weight: 800;
  background-color: black;
  box-shadow: inset 0 0 0 0 white;
  padding: 1.2vw 0.8vw;
  border-radius: 0.5vw;
  transition: ease-out 0.5s;
  margin-right: 1vh;
}

.info-button:hover{
  text-decoration: none;
  font-size: 3vh;
  color: black;
  font-family: 'panton-black-caps', sans-serif;
  box-shadow: inset 15vw 0 0 0 white;
  font-weight: 800;
  background-color: white;
  border-radius: 1vh;
}

.learn-more-button{
  text-decoration: none;
  font-size: 3vh;
  color: black;
  font-family: 'panton-black-caps', sans-serif;
  font-weight: 800;
  background-color: white;
  box-shadow: inset 0 0 0 0 black;
  padding: 1.2vw 0.8vw;
  border-radius: 0.5vw;
  transition: ease-out 0.5s;
}

.learn-more-button:hover{
  text-decoration: none;
  font-size: 3vh;
  color: white;
  font-family: 'panton-black-caps', sans-serif;
  box-shadow: inset 15vw 0 0 black;
  font-weight: 800;
  background-color: black;
  border-radius: 1vh;
  cursor: pointer;
}

.card{
  position: absolute;
  top: 44vh;
  left:50vw;
  padding:3vw;
  z-index: 100;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  max-width: 28vw;
  border-radius: 2vw;
  border:0.1vw solid rgba(0, 0, 0, 0.1);
}

.card2{
  position: absolute;
  top: 23vw;
  left:15vw;
  padding:3vw;
  z-index: 100;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  max-width: 30vw;
  border-radius: 2vw;
  border:0.1vw solid rgba(0, 0, 0, 0.1);
}

footer{
  background: #27022d;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  height: 30vh;
}

.footer-heading{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 3vw;
  padding-top: 1.5vw;
  font-family: 'panton-black-caps', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}


.air-pollution#blur.active{
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
} 


.close-button{
  text-decoration: none;
  font-size: 5vh;
  font-family: 'panton-black-caps', sans-serif;
  font-weight: 800;
  color: red;
  padding: 5vw;
  transition: ease-out 0.5s;
  position: relative;
  top: -8vh;
  left: 32vw;
  cursor: pointer;
}

.popup-heading{
  top: -3vw;
  font-family: 'panton-black-caps' , sans-serif;
  font-size: 2vw;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
}

.popup-content{
  font-family: 'panton-black-caps' , sans-serif;
  position: relative;
}

#popup{
  visibility: hidden;
  position: fixed;
  transform:translate(-50%,-50%);
  top: 40vw;
  left: 50vw;
  padding:45px 9vw;
  background-color: #fff;
  color: black;
  transition: 0.5s;
  z-index: 5;
}

#popup.active{
  top:23.5vw;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.plastic-pollution#blur.active{
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
} 

.video-format{
  position: relative;
  top: 10vh;
  left: 5vw;
  width: 90vw;
  height: 85vh;
}

.video-card{
  position: relative;
  left: 5vw;

  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(20px);
  padding: 3vh 5vw;
  max-width: 90vw;
  border-radius: 1vw;
  border: 0.4vw solid rgba(0, 0, 0, 0.1);
}

.video-heading{
  font-family: 'panton-black-caps',sans-serif;
  font-size: 5vh;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  margin-bottom: 1vw;
}

.video-p{
  font-size: 3vh;
  color: white;
  font-family: 'panton-black-caps',sans-serif;
  font-weight: 500;
}

.video-link{
  color: white;
}